@import url('./variables.css');

#root {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding:0;
}

@media (max-width: 1920px) {
    #root {
        padding-bottom: 10%;
    }
    
}

body {
    font-family:sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

.header-logo {
    max-width:180px;
    width:20%;
    margin-left:3%;
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.footer {
    background-color: var(--purple);
    color:white;
    padding: 1%;
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    margin: 0;
}

.painel-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--lightgray);
    height:100%;
    width:100%;
    min-height: 100vh;
}

.painel-button {
    display: flex;
    align-items: flex-start;
    font-size:18px;
    width: 100%;
    font-weight: bold;
    color: var(--gray);
    padding: 1em;
    box-sizing: border-box;
}

.painel-button:hover, .painel-button.active {
    background-color: var(--fillpurple)
}

.painel-button.active > .panel-inside > a, .inside-panel-li.active > a {
    pointer-events: none;
}

.icon-button {
    transition: all .5s ease;
}

.icon-button.active {
    transform: rotate(90deg);
}

.painel-text {
    margin: 0;
    padding-left:10px;
    width: 100px;
    text-align: left;
    font-size:16px;
}


.painel-logo {
    max-width:180px;
    width:180px;
    margin:12px;
}

.panel-inside {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inside-panel {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
} 

.inside-panel.active {
    display: block;
}

.inside-panel-li {
    padding: 10px;
}

.inside-panel-li:hover {
    background-color: var(--filldarkerpurple);
} 

.inside-panel-li.active {
    background-color: var(--filldarkerpurple);
}

.user-logo {
    width: 100%;
}

.profile-circle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--lightgray);
    margin-right:10px;
}

.user-container {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}