@import 'colors.css';

body {
    font-family:sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-logo {
    max-width:200px;
    width:20%;
    margin-left:3%;
}