@import url('../../styles/variables.css');

.dashboard-content {
    width: 100%;
    padding:0;
}

.user-div {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    align-items: center;
    margin-right: 15px;
    font-size:14px;
    color:var(--purple);
    font-weight: bold;
}

.user-name {
    font-size:16px;
    margin-right: 5px;
}

.icon-button {
    color:var(--purple);
    font-weight:bolder;
    background-color: white;
    border:none;
}

.icon-button:hover {
    cursor:pointer;
}